doctype html
html(lang='en')

  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')

    title Compilador

    include includes/css/core.pug

    // Page level plugin CSS
    link(href='vendor/datatables/dataTables.bootstrap4.css', rel='stylesheet')
    link(rel="stylesheet" href="vendor/font-awesome/css/font-awesome.min.css")
    include includes/css/custom.pug

  body#page-top.fixed-nav.sticky-footer.bg-dark
    include includes/navbar.pug
    .content-wrapper
      table(style="width:100%;  text-align:center;")
        tr
          td 
            .card
              center
                img(src="images/robot.png" alt="" width="100" height="130")
              h2  #{msg.nombre}
              p #{msg.correo}
              p #{msg.grupo}
          td
            h2 Programas enviados
            .table-responsive-md-scroll-y
              table.table(style="display: block; height: 450px; overflow-y: scroll; text-align:left;")
                thead
                  tr
                    th(scope="col") Código
                    th(scope="col") Mensajes de ejecución
                    th(scope="col") Fecha
                tbody
                  each task in msg.tabla
                    tr
                      td
                        textarea(rows="3" cols="70" style="resize: none; border: none; font-size: 12px;")
                          | #{task.codigo}
                      td  
                        textarea(rows="3" cols="70" style="resize: none; border: none; font-size: 12px;")
                          | #{task.mensages}
                      td
                        textarea(rows="2" cols="10" style="resize: none; border: none; font-size: 12px;")
                          | #{task.fecha}
            
        
      
      // /.container-fluid
      // /.content-wrapper

      include includes/footer.pug

      include includes/scroll-to-top.pug

      include includes/modals/logout.pug

      include includes/js/core.pug

      include includes/js/custom.pug